<!DOCTYPE html>
<!-- load here static -->
<html>
  <head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bundle.css">
    <!--link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet" type="text/css"-->
  </head>
  <body>
    <div class='Dialog DialogModal'>
      <div class='DialogModalWrap'>
        <div class="DialogHeader">Login</div>
          <div class="DialogBody">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="DialogFooter">
                <button class="Button" type="submit">Login</button>
              </div>
            </form>
            <br>
              <p><strong>-- OR --</strong></p>
              <a href="{% url 'social:begin' 'github' %}">
                <div class="GithubLogin"></div>
              </a>
            <br>
          </div> 
        </div>
      </div>
    </div>
  </body>
</html>
